*.sublime-workspace

*.user
*.suo
*_ReSharper*
*.orig
*.cache
.vs/

bin
obj
out
iislogs
logs

# RubyMine user session (stored within .idea directory, see http://stackoverflow.com/questions/2673773/which-rubymine-generated-files-should-i-commit)
.idea

# Do not include actual packages as they will be extracted either on dev or on build system.
packages/

*_NCrunch*
*.ncrunchsolution
*.ncrunchproject
logs/



#do not include copies of secure copied around by the deployment scripts.
*src/*/secure/
